/* CSS reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
footer, header, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
footer, header, menu, nav {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

/* Clearfix */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

header div#top-section {
  border: 1px solid red;
}

header div#top-section * {
  border: 1px solid green;
  float: left;
}

header div#top-section div ul li {
  padding: 0 10px;
}

header div#top-section div#external ul li {
  float: left;
}

header div#top-section div#account {
  float: right;
}

header div#top-section img {
  float: left;
}

header img#banner {
  float: left;
}

nav {
  float: left;
  width: 100%;
  border: 1px solid black;
}

nav * {
  border: 1px solid orange;
}

nav ul {
}

nav ul li {
  display: inline;
  padding: 0 10px;
}

div#left-pane * {
  border: 1px solid blue;
}

div#left-pane {
  float: left;
}

div#right-pane * {
  border: 1px solid green;
}

div#right-pane {
  float: right;
}
